## Aula 01

In [798]:
#Importando a base de dados 
import pandas as pd 

dados_churn = pd.read_json("arquivo.json")
dados_churn.head()

,id_cliente,Churn,cliente,telefone,internet,conta
0,0002-ORFBO,nao,"{'genero': 'feminino', 'idoso': 0, 'parceiro':...","{'servico_telefone': 'sim', 'varias_linhas': '...","{'servico_internet': 'DSL', 'seguranca_online'...","{'contrato': None, 'faturamente_eletronico': N..."
1,0003-MKNFE,nao,"{'genero': 'masculino', 'idoso': 0, 'parceiro'...","{'servico_telefone': 'sim', 'varias_linhas': '...","{'servico_internet': 'DSL', 'seguranca_online'...","{'contrato': 'mes a mes', 'faturamente_eletron..."
2,0004-TLHLJ,sim,"{'genero': 'masculino', 'idoso': 0, 'parceiro'...","{'servico_telefone': 'sim', 'varias_linhas': '...","{'servico_internet': 'fibra otica', 'seguranca...","{'contrato': 'mes a mes', 'faturamente_eletron..."
3,0011-IGKFF,sim,"{'genero': 'masculino', 'idoso': 1, 'parceiro'...","{'servico_telefone': 'sim', 'varias_linhas': '...","{'servico_internet': 'fibra otica', 'seguranca...","{'contrato': 'mes a mes', 'faturamente_eletron..."
4,0013-EXCHZ,sim,"{'genero': 'feminino', 'idoso': 1, 'parceiro':...","{'servico_telefone': 'sim', 'varias_linhas': '...","{'servico_internet': 'fibra otica', 'seguranca...","{'contrato': 'mes a mes', 'faturamente_eletron..."

In [799]:
#Normalizando todas colunas de uma vez
import json 

with open ('arquivo.json') as d:
    json_bruto = json.load(d)

dados_normalizado = pd.json_normalize(json_bruto)
dados_normalizado.head()

,id_cliente,Churn,cliente.genero,cliente.idoso,cliente.parceiro,cliente.dependentes,cliente.tempo_servico,telefone.servico_telefone,telefone.varias_linhas,internet.servico_internet,...,internet.backup_online,internet.protecao_dispositivo,internet.suporte_tecnico,internet.tv_streaming,internet.filmes_streaming,conta.contrato,conta.faturamente_eletronico,conta.metodo_pagamento,conta.cobranca.mensal,conta.cobranca.Total
0,0002-ORFBO,nao,feminino,0,sim,sim,9.0,sim,nao,DSL,...,sim,nao,sim,sim,nao,None,None,None,NaN,None
1,0003-MKNFE,nao,masculino,0,nao,nao,9.0,sim,sim,DSL,...,nao,nao,nao,nao,sim,mes a mes,nao,cheque pelo correio,59.9,542.4
2,0004-TLHLJ,sim,masculino,0,nao,nao,4.0,sim,nao,fibra otica,...,nao,sim,nao,nao,nao,mes a mes,sim,cheque eletronico,73.9,280.85
3,0011-IGKFF,sim,masculino,1,sim,nao,13.0,sim,nao,fibra otica,...,sim,sim,nao,sim,sim,mes a mes,sim,cheque eletronico,98.0,1237.85
4,0013-EXCHZ,sim,feminino,1,sim,nao,3.0,sim,nao,fibra otica,...,nao,nao,sim,sim,nao,mes a mes,sim,cheque pelo correio,83.9,267.4

In [800]:
dados_normalizado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7344 entries, 0 to 7343
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id_cliente                     7344 non-null   object
 1   Churn                          7344 non-null   object
 2   cliente.genero                 7344 non-null   object
 3   cliente.idoso                  7344 non-null   int64
 4   cliente.parceiro               7344 non-null   object
 5   cliente.dependentes            7344 non-null   object
 6   cliente.tempo_servico          7336 non-null   float64
 7   telefone.servico_telefone      7344 non-null   object
 8   telefone.varias_linhas         7344 non-null   object
 9   internet.servico_internet      7344 non-null   object
 10  internet.seguranca_online      7344 non-null   object
 11  internet.backup_online         7344 non-null   object
 12  internet.protecao_dispositivo  7344 non-null   object
 13  internet.suporte_tecnico       7344 non-null   object
 14  internet.tv_streaming          7344 non-null   object
 15  internet.filmes_streaming      7344 non-null   object
 16  conta.contrato                 7312 non-null   object
 17  conta.faturamente_eletronico   7326 non-null   object
 18  conta.metodo_pagamento         7317 non-null   object
 19  conta.cobranca.mensal          7326 non-null   float64
 20  conta.cobranca.Total           7328 non-null   object
dtypes: float64(2), int64(1), object(18)
memory usage: 1.2+ MB

## Aula 02

In [802]:
# Alterando o tipo da coluna 'conta.cobranca.Total' para 'float64'

dados_normalizado['conta.cobranca.Total'].astype(float)

ValueError: could not convert string to float: ' '

In [ ]:
# Vamos verificar esse (' ') que está impossibilitando nossa alteração para 'float'
dados_normalizado[dados_normalizado['conta.cobranca.Total'] == ' '].head()

In [ ]:
# Selecionando colunas relevantes para correção 
dados_normalizado[dados_normalizado['conta.cobranca.Total'] == ' '][
    ['cliente.tempo_servico', 'conta.contrato', 'conta.cobranca.mensal', 'conta.cobranca.Total']
]

In [ ]:
# Selecionando o index de cada registro
idx = list(dados_normalizado[dados_normalizado['conta.cobranca.Total'] == ' '].index)
idx

In [ ]:
# Fazendo o calculo da cobrança total, pois sabemos o tempo do contrato '24'
dados_normalizado.loc[idx, 'conta.cobranca.Total'] = dados_normalizado.loc[idx, 'conta.cobranca.mensal'] * 24

dados_normalizado.loc[idx, 'cliente.tempo_servico']  = 24

In [ ]:
dados_normalizado.loc[idx][['cliente.tempo_servico', 'conta.contrato', 'conta.cobranca.mensal', 'conta.cobranca.Total']]

In [ ]:
# Após fazer o tratamento, podemos fazer a converção do tipo
dados_normalizado['conta.cobranca.Total'] = dados_normalizado['conta.cobranca.Total'].astype(float)

In [ ]:
dados_normalizado.info()

In [ ]:
# Identificando e tratando strings vazias
for col in dados_normalizado.columns:
    print(f'Coluna: {col}')
    print(dados_normalizado[col].unique())
    print('-' * 30)

In [ ]:
dados_normalizado[dados_normalizado['Churn'] == '']

In [ ]:
# Criando uma copia do dateframe, sem esses registro vazios 
dados_sem_vazio = dados_normalizado[dados_normalizado['Churn'] != ''].copy()

In [ ]:
# Ao analisar 'Index', vemos que temos 7118 entradas. Porem, temos uma sequencia de 0 a 7343.
# Temos que resetar o index e colocar a sequencia nova
dados_sem_vazio.info()

In [ ]:
dados_sem_vazio.reset_index(drop=True, inplace=True)

In [ ]:
dados_sem_vazio

In [ ]:
dados_sem_vazio.info()

## Aula 03

##### Dados Duplicados

In [ ]:
# Tratando valores duplicados, usando metado .duplicated()
dados_sem_vazio.duplicated()

In [ ]:
# Verificando a quantidade de registro duplicado
dados_sem_vazio.duplicated().sum()

In [ ]:
# Visualizando esses dados
filtro_duplicados = dados_sem_vazio.duplicated()
dados_sem_vazio[filtro_duplicados]

In [ ]:
# Iremos fazer a remoção desse dados, usando drop_duplicates
dados_sem_vazio.drop_duplicates(inplace=True)

In [ ]:
dados_sem_vazio

In [ ]:
# Verificando se ainda há valores duplicados.
dados_sem_vazio.duplicated().sum()

##### Dados nulos

In [ ]:
#Analisando as colunas que tem valores nulos
dados_sem_vazio.isna().sum()

In [ ]:
# Valor total de valores nulo no dataframe
dados_sem_vazio.isna().sum().sum()

In [ ]:
# Vamos visualizar os rigistro(linhas),que tenha pelo menos um valor nulo 
dados_sem_vazio[dados_sem_vazio.isna().any(axis=1)]

In [ ]:
# Vamos focar na coluna 'cliente.tempo_servico'
# Essa coluna conseguimos realizar o calculo, pois temos as informações necessaria

# Criando um filtro para selecionar apenas os registro nulos
filtro = dados_sem_vazio['cliente.tempo_servico'].isna()

#Selecionando as colunas relevantes, para fazer o calculo do tempo de servios
dados_sem_vazio[filtro][['cliente.tempo_servico','conta.cobranca.mensal', 'conta.cobranca.Total']]

In [ ]:
#Calculando os valores com biblioteca 'numpy', metado '.fillna()' e np.ceil() para redondar para acima
import numpy as np

dados_sem_vazio['cliente.tempo_servico'].fillna(
    np.ceil(dados_sem_vazio['conta.cobranca.Total'] / dados_sem_vazio['conta.cobranca.mensal']), 
    inplace=True
)

In [ ]:
# Verificando se os calculos, foram executado de forma correta
dados_sem_vazio[filtro][['cliente.tempo_servico','conta.cobranca.mensal', 'conta.cobranca.Total']]

In [ ]:
# Verificando se tratamos todos os valores nulos da coluna - 'cliente.tempo_servico'
dados_sem_vazio.isna().sum()

In [ ]:
# Removendo dados nulos das colunas 'contas.contrato,faturamento_eletronico e metado_pagamento'

#Selecionando as colunas
coluna_dropar = ['conta.contrato','conta.faturamente_eletronico','conta.metodo_pagamento']

#Verificando a quantidade de registro que tem pelo menos um valor nulo
dados_sem_vazio[coluna_dropar].isna().any(axis=1).sum()

In [ ]:
# Realizando a exlcuisão desse dados 
df_sem_nulos = dados_sem_vazio.dropna(subset=coluna_dropar).copy()
df_sem_nulos

In [ ]:
# Ordenando o index do dateframe
df_sem_nulos.reset_index(drop=True, inplace=True)

In [ ]:
df_sem_nulos.isna().sum()

## Aula 04

##### Identificando valores outliers

In [ ]:
#Verificando as estatistica do dataframe
df_sem_nulos.describe()

Sabendo que a coluna 'cliente.tempo_servico', é uma coluna de meses.
Esse valor de 90 anos (1080/12), é muito tempo de serviços contratos. Vamos analisar melhor, podemos encontras outliers

In [ ]:
#Importando a biblioteca Seaborn, para viasulizar melhor esses outliers 
import seaborn as sns

sns.boxplot(x=df_sem_nulos['cliente.tempo_servico'])

In [ ]:
#Definindo as medidas para localizar os 'outliers'

Q1 = df_sem_nulos['cliente.tempo_servico'].quantile(0.25)
Q3 = df_sem_nulos['cliente.tempo_servico'].quantile(0.75)
IIQ= Q3 - Q1
limite_inferior = Q1 - 1.5*IIQ
limite_superior = Q3 + 1.5*IIQ

In [ ]:
# Vamos criar um filtro e chamar apenas valores 'outliers'
outliers_index = (df_sem_nulos['cliente.tempo_servico'] < limite_inferior) | (df_sem_nulos['cliente.tempo_servico'] > limite_superior)
outliers_index

In [ ]:
df_sem_nulos.head()

In [ ]:
#Aplicamos filtro, apenas na coluna necessaria para analise 
df_sem_nulos[outliers_index]['cliente.tempo_servico']

Esses valores estão muito estranhos, porque não é possível assinar um serviço de telefonia por tanto tempo. Esses valores podem ser canditata a outliers.

#### Tratando valores outliers

In [ ]:
# Criando uma copia do dataframe
df_sem_out = df_sem_nulos.copy()
df_sem_out

Sabemos que o resultado da coluna 'cliente.tempo_servicos', é a divisão de duas colunas existente em nosso dataframe. Vamos realizar essa equação e tentar zera essas outliers

In [ ]:
df_sem_out.head(1)

In [ ]:
#Calculando os tempo de servicos
import numpy as np

df_sem_out.loc[outliers_index,'cliente.tempo_servico'] = np.ceil(
    (df_sem_out.loc[outliers_index,'conta.cobranca.Total']) / 
    (df_sem_out.loc[outliers_index,'conta.cobranca.mensal']))

In [ ]:
df_sem_out.head(1)

In [ ]:
sns.boxplot(x=df_sem_out['cliente.tempo_servico'])

In [ ]:
df_sem_out [outliers_index]['cliente.tempo_servico']

Podemos analiser acima, que ainda temos valores 'outliers'e outros que normalizaram.

In [ ]:
# Analisando as tres colunas.
df_sem_out[outliers_index][['cliente.tempo_servico', 'conta.cobranca.mensal', 'conta.cobranca.Total']]

Ao analisar os dados acima, podemos ver que os tres primeiros rigistro, continua 'outliers'. Pois, coluna 'conta.cobranca.Total' é outliers tambem, por isso o resultado continua com esse valor. Devemos fazer a remoção desses registroa

#### Removendo valores outliers

In [ ]:
#Filtra está comprometido, iremos fazer uma atualização para dataframe que estamos ultilizamos 
Q1 = df_sem_out['cliente.tempo_servico'].quantile(.25)
Q3 = df_sem_out['cliente.tempo_servico'].quantile(.75)
IQR = Q3 - Q1
limite_inferior = Q1 - 1.5*IQR
limite_superior = Q3 + 1.5*IQR

outliers_index = (df_sem_out['cliente.tempo_servico'] < limite_inferior) | (df_sem_out['cliente.tempo_servico'] > limite_superior)
outliers_index

In [ ]:
#Apenas registro outliers restantes
df_sem_out[outliers_index]

In [ ]:
# Vamos remover eles, fazendo uma negação desses registro acimas '~'
df_sem_out = df_sem_out[~outliers_index]
df_sem_out

In [ ]:
#Vamos redefinir os index, após a remoção dos outliers
df_sem_out.reset_index(drop=True, inplace=True)

In [ ]:
df_sem_out

## Aula 05

#### Vamos remover e alterar informaçãoes, para performar melhor nosso modelo de analise

##### Removendo coluna

Iremos remover a coluna 'id_cliente', por ser dados unicos e não resistir nenhum padrão para analise. Se deixarmos essa coluna, nosso modelo perderá eficiencia

In [853]:
df_sem_id = df_sem_out.drop('id_cliente', axis=1).copy()
df_sem_id

,Churn,cliente.genero,cliente.idoso,cliente.parceiro,cliente.dependentes,cliente.tempo_servico,telefone.servico_telefone,telefone.varias_linhas,internet.servico_internet,internet.seguranca_online,internet.backup_online,internet.protecao_dispositivo,internet.suporte_tecnico,internet.tv_streaming,internet.filmes_streaming,conta.contrato,conta.faturamente_eletronico,conta.metodo_pagamento,conta.cobranca.mensal,conta.cobranca.Total
0,nao,masculino,0,nao,nao,9.0,sim,sim,DSL,nao,nao,nao,nao,nao,sim,mes a mes,nao,cheque pelo correio,59.90,542.40
1,sim,masculino,0,nao,nao,4.0,sim,nao,fibra otica,nao,nao,sim,nao,nao,nao,mes a mes,sim,cheque eletronico,73.90,280.85
2,sim,masculino,1,sim,nao,13.0,sim,nao,fibra otica,nao,sim,sim,nao,sim,sim,mes a mes,sim,cheque eletronico,98.00,1237.85
3,sim,feminino,1,sim,nao,3.0,sim,nao,fibra otica,nao,nao,nao,sim,sim,nao,mes a mes,sim,cheque pelo correio,83.90,267.40
4,nao,feminino,0,nao,sim,9.0,sim,nao,DSL,nao,nao,nao,sim,sim,sim,mes a mes,sim,cartao de credito (automatico),69.40,571.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6997,nao,feminino,0,nao,nao,13.0,sim,nao,DSL,sim,nao,nao,sim,nao,nao,um ano,nao,cheque pelo correio,55.15,742.90
6998,sim,masculino,0,sim,nao,22.0,sim,sim,fibra otica,nao,nao,nao,nao,nao,sim,mes a mes,sim,cheque eletronico,85.10,1873.70
6999,nao,masculino,0,nao,nao,2.0,sim,nao,DSL,nao,sim,nao,nao,nao,nao,mes a mes,sim,cheque pelo correio,50.30,92.75
7000,nao,masculino,0,sim,sim,67.0,sim,nao,DSL,sim,nao,sim,sim,nao,sim,dois anos,nao,cheque pelo correio,67.85,4627.65
7001,nao,masculino,0,sim,sim,63.0,nao,sem servico de telefone,DSL,sim,sim,sim,nao,sim,sim,dois anos,nao,cheque eletronico,59.00,3707.60

##### Categoria binaria

Ao analisar o data acima, percebemos que temos variáveis categóricas binárias. Isso quer dizer que temos colunas apenas com duas categoria, e normalmente deve deixar essas colunas como 0 e 1 para melhor analise, temos colunas que tem (não e sim) e (masc e fem).<br>
Vamos realizar a substituição desses valores para 0 e 1

In [873]:
# Vamos mapear essas categoria
mapeamento = {'nao': 0, 'sim': 1,
              'masculino': 0, 'feminino': 1}

In [863]:
# Vamos analisar quais colunas, devemos selecionar para realizar as substituição
for col in df_sem_id.columns:
    print(f"Coluna: {col}")
    print(df_sem_id[col].unique())
    print("-" * 30)

Coluna: Churn
['nao' 'sim']
------------------------------
Coluna: cliente.genero
['masculino' 'feminino']
------------------------------
Coluna: cliente.idoso
[0 1]
------------------------------
Coluna: cliente.parceiro
['nao' 'sim']
------------------------------
Coluna: cliente.dependentes
['nao' 'sim']
------------------------------
Coluna: cliente.tempo_servico
[ 9.  4. 13.  3. 71. 63.  7. 66. 54. 72.  5. 56. 34.  1. 45. 50. 23. 55.
 26. 69. 37. 49. 67. 20. 43. 59. 12. 27.  2. 25. 29. 14. 35. 64. 39. 40.
 11.  6. 30. 70. 57. 58. 16. 32. 33. 10. 21. 61. 15. 44. 22. 24. 19. 47.
 62. 46. 52.  8. 60. 48. 28. 41. 53. 68. 31. 36. 17. 18. 65. 51. 38. 42.]
------------------------------
Coluna: telefone.servico_telefone
['sim' 'nao']
------------------------------
Coluna: telefone.varias_linhas
['sim' 'nao' 'sem servico de telefone']
------------------------------
Coluna: internet.servico_internet
['DSL' 'fibra otica' 'nao']
------------------------------
Coluna: internet.seguranca_online
['nao' 'sim' 'sem servico de internet']
------------------------------
Coluna: internet.backup_online
['nao' 'sim' 'sem servico de internet']
------------------------------
Coluna: internet.protecao_dispositivo
['nao' 'sim' 'sem servico de internet']
------------------------------
Coluna: internet.suporte_tecnico
['nao' 'sim' 'sem servico de internet']
------------------------------
Coluna: internet.tv_streaming
['nao' 'sim' 'sem servico de internet']
------------------------------
Coluna: internet.filmes_streaming
['sim' 'nao' 'sem servico de internet']
------------------------------
Coluna: conta.contrato
['mes a mes' 'dois anos' 'um ano']
------------------------------
Coluna: conta.faturamente_eletronico
['nao' 'sim']
------------------------------
Coluna: conta.metodo_pagamento
['cheque pelo correio' 'cheque eletronico'
 'cartao de credito (automatico)' 'transferencia bancaria (automatica)']
------------------------------
Coluna: conta.cobranca.mensal
[59.9  73.9  98.   ... 91.75 68.8  67.85]
------------------------------
Coluna: conta.cobranca.Total
[ 542.4   280.85 1237.85 ...  742.9  4627.65 3707.6 ]
------------------------------

In [865]:
colunas = ['conta.faturamente_eletronico', 'Churn', 'cliente.genero', 'cliente.parceiro', 
           'cliente.dependentes', 'telefone.servico_telefone']

In [881]:
df_sem_id[colunas] = df_sem_id[colunas].replace(mapeamento)

In [885]:
df_sem_id

,Churn,cliente.genero,cliente.idoso,cliente.parceiro,cliente.dependentes,cliente.tempo_servico,telefone.servico_telefone,telefone.varias_linhas,internet.servico_internet,internet.seguranca_online,internet.backup_online,internet.protecao_dispositivo,internet.suporte_tecnico,internet.tv_streaming,internet.filmes_streaming,conta.contrato,conta.faturamente_eletronico,conta.metodo_pagamento,conta.cobranca.mensal,conta.cobranca.Total
0,0,0,0,0,0,9.0,1,sim,DSL,nao,nao,nao,nao,nao,sim,mes a mes,0,cheque pelo correio,59.90,542.40
1,1,0,0,0,0,4.0,1,nao,fibra otica,nao,nao,sim,nao,nao,nao,mes a mes,1,cheque eletronico,73.90,280.85
2,1,0,1,1,0,13.0,1,nao,fibra otica,nao,sim,sim,nao,sim,sim,mes a mes,1,cheque eletronico,98.00,1237.85
3,1,1,1,1,0,3.0,1,nao,fibra otica,nao,nao,nao,sim,sim,nao,mes a mes,1,cheque pelo correio,83.90,267.40
4,0,1,0,0,1,9.0,1,nao,DSL,nao,nao,nao,sim,sim,sim,mes a mes,1,cartao de credito (automatico),69.40,571.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6997,0,1,0,0,0,13.0,1,nao,DSL,sim,nao,nao,sim,nao,nao,um ano,0,cheque pelo correio,55.15,742.90
6998,1,0,0,1,0,22.0,1,sim,fibra otica,nao,nao,nao,nao,nao,sim,mes a mes,1,cheque eletronico,85.10,1873.70
6999,0,0,0,0,0,2.0,1,nao,DSL,nao,sim,nao,nao,nao,nao,mes a mes,1,cheque pelo correio,50.30,92.75
7000,0,0,0,1,1,67.0,1,nao,DSL,sim,nao,sim,sim,nao,sim,dois anos,0,cheque pelo correio,67.85,4627.65
7001,0,0,0,1,1,63.0,0,sem servico de telefone,DSL,sim,sim,sim,nao,sim,sim,dois anos,0,cheque eletronico,59.00,3707.60

##### Categoria não binaria

Para converter essas categoria não binaria, devemos ultilizar a função 'Dummies' do pandas. Essa função converte as categoria em colunas e valores delas em 0 e 1 ou True e False, dependendo da versão do Python usada. <br>
Com essa conversão, deixamos todas as colunas do dataframe com o tipo numerico, assim nosso modelo ML terá uma performace excelente

In [901]:
#As colunas do tipo str, iram se tornar colunas numericas
df_sem_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7002 entries, 0 to 7001
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Churn                          7002 non-null   int64
 1   cliente.genero                 7002 non-null   int64
 2   cliente.idoso                  7002 non-null   int64
 3   cliente.parceiro               7002 non-null   int64
 4   cliente.dependentes            7002 non-null   int64
 5   cliente.tempo_servico          7002 non-null   float64
 6   telefone.servico_telefone      7002 non-null   int64
 7   telefone.varias_linhas         7002 non-null   object
 8   internet.servico_internet      7002 non-null   object
 9   internet.seguranca_online      7002 non-null   object
 10  internet.backup_online         7002 non-null   object
 11  internet.protecao_dispositivo  7002 non-null   object
 12  internet.suporte_tecnico       7002 non-null   object
 13  internet.tv_streaming          7002 non-null   object
 14  internet.filmes_streaming      7002 non-null   object
 15  conta.contrato                 7002 non-null   object
 16  conta.faturamente_eletronico   7002 non-null   int64
 17  conta.metodo_pagamento         7002 non-null   object
 18  conta.cobranca.mensal          7002 non-null   float64
 19  conta.cobranca.Total           7002 non-null   float64
dtypes: float64(3), int64(7), object(10)
memory usage: 1.1+ MB

In [909]:
df_dummies = pd.get_dummies(df_sem_id).copy()
df_dummies

,Churn,cliente.genero,cliente.idoso,cliente.parceiro,cliente.dependentes,cliente.tempo_servico,telefone.servico_telefone,conta.faturamente_eletronico,conta.cobranca.mensal,conta.cobranca.Total,...,internet.filmes_streaming_nao,internet.filmes_streaming_sem servico de internet,internet.filmes_streaming_sim,conta.contrato_dois anos,conta.contrato_mes a mes,conta.contrato_um ano,conta.metodo_pagamento_cartao de credito (automatico),conta.metodo_pagamento_cheque eletronico,conta.metodo_pagamento_cheque pelo correio,conta.metodo_pagamento_transferencia bancaria (automatica)
0,0,0,0,0,0,9.0,1,0,59.90,542.40,...,False,False,True,False,True,False,False,False,True,False
1,1,0,0,0,0,4.0,1,1,73.90,280.85,...,True,False,False,False,True,False,False,True,False,False
2,1,0,1,1,0,13.0,1,1,98.00,1237.85,...,False,False,True,False,True,False,False,True,False,False
3,1,1,1,1,0,3.0,1,1,83.90,267.40,...,True,False,False,False,True,False,False,False,True,False
4,0,1,0,0,1,9.0,1,1,69.40,571.45,...,False,False,True,False,True,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6997,0,1,0,0,0,13.0,1,0,55.15,742.90,...,True,False,False,False,False,True,False,False,True,False
6998,1,0,0,1,0,22.0,1,1,85.10,1873.70,...,False,False,True,False,True,False,False,True,False,False
6999,0,0,0,0,0,2.0,1,1,50.30,92.75,...,True,False,False,False,True,False,False,False,True,False
7000,0,0,0,1,1,67.0,1,0,67.85,4627.65,...,False,False,True,True,False,False,False,False,True,False
7001,0,0,0,1,1,63.0,0,0,59.00,3707.60,...,False,False,True,True,False,False,False,True,False,False

In [911]:
df_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7002 entries, 0 to 7001
Data columns (total 41 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Churn                                                       7002 non-null   int64
 1   cliente.genero                                              7002 non-null   int64
 2   cliente.idoso                                               7002 non-null   int64
 3   cliente.parceiro                                            7002 non-null   int64
 4   cliente.dependentes                                         7002 non-null   int64
 5   cliente.tempo_servico                                       7002 non-null   float64
 6   telefone.servico_telefone                                   7002 non-null   int64
 7   conta.faturamente_eletronico                                7002 non-null   int64
 8   conta.cobranca.mensal                                       7002 non-null   float64
 9   conta.cobranca.Total                                        7002 non-null   float64
 10  telefone.varias_linhas_nao                                  7002 non-null   bool
 11  telefone.varias_linhas_sem servico de telefone              7002 non-null   bool
 12  telefone.varias_linhas_sim                                  7002 non-null   bool
 13  internet.servico_internet_DSL                               7002 non-null   bool
 14  internet.servico_internet_fibra otica                       7002 non-null   bool
 15  internet.servico_internet_nao                               7002 non-null   bool
 16  internet.seguranca_online_nao                               7002 non-null   bool
 17  internet.seguranca_online_sem servico de internet           7002 non-null   bool
 18  internet.seguranca_online_sim                               7002 non-null   bool
 19  internet.backup_online_nao                                  7002 non-null   bool
 20  internet.backup_online_sem servico de internet              7002 non-null   bool
 21  internet.backup_online_sim                                  7002 non-null   bool
 22  internet.protecao_dispositivo_nao                           7002 non-null   bool
 23  internet.protecao_dispositivo_sem servico de internet       7002 non-null   bool
 24  internet.protecao_dispositivo_sim                           7002 non-null   bool
 25  internet.suporte_tecnico_nao                                7002 non-null   bool
 26  internet.suporte_tecnico_sem servico de internet            7002 non-null   bool
 27  internet.suporte_tecnico_sim                                7002 non-null   bool
 28  internet.tv_streaming_nao                                   7002 non-null   bool
 29  internet.tv_streaming_sem servico de internet               7002 non-null   bool
 30  internet.tv_streaming_sim                                   7002 non-null   bool
 31  internet.filmes_streaming_nao                               7002 non-null   bool
 32  internet.filmes_streaming_sem servico de internet           7002 non-null   bool
 33  internet.filmes_streaming_sim                               7002 non-null   bool
 34  conta.contrato_dois anos                                    7002 non-null   bool
 35  conta.contrato_mes a mes                                    7002 non-null   bool
 36  conta.contrato_um ano                                       7002 non-null   bool
 37  conta.metodo_pagamento_cartao de credito (automatico)       7002 non-null   bool
 38  conta.metodo_pagamento_cheque eletronico                    7002 non-null   bool
 39  conta.metodo_pagamento_cheque pelo correio                  7002 non-null   bool
 40  conta.metodo_pagamento_transferencia bancaria (automatica)  7002 non-null   bool
dtypes: bool(31), float64(3), int64(7)
memory usage: 759.1 KB

Minha versão está na 2.0, sendo assim tivemos um retorno boleano. Porem terá a mesma funcionalidade de um 0 e 1 no modelo ML